body, html {
	color: #999;
}
.content p {
	text-align: center;
	padding: 0 10px;
}
div > .container {
	min-width: 100%;
	min-height: 100%;
}
div > .card {
	width: 33%;
	transition: 1s;
	margin: 15px auto;
	padding: 15px;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
}
.card:hover {
	transform: rotate(360deg);
	font-weight: 900;
}
.card > img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
.tech-name {
	text-align: center;
	font-weight: 900;
}
.tech-info {
	font-weight: 900;
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
	div .card {
		width: 90%;
		margin: 15px auto;
		color: #777;
	}
	div .container {
		width: 100%;
	}
}
button {
	margin: 0 auto;
	border-radius: 3px;
	width: 100%;
	height: 40px;
}