html, body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    color: black;
}
.title {
    text-align: center;
}
.sub-title {
	font-size: 30px;
    text-align: center;
}
footer {
	padding: 20px;
	display: block;
	text-align: center;
    margin: auto 0;
}
li a:hover {
    box-shadow: 0 4px 8px 0;
}