.content {
	height: 100%;
}
img {
/* 	width: 100px;
	height: 100px; */
	transform: rotate(90deg);
}
.menu-item {
	width: 100%;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	margin-left: -20px;
	padding: 5px;
}
.menu-item:hover {
	cursor: pointer;
	border: 1px solid purple;
	background: lightblue;
	cursor: pointer;
}
.list-group-item {
	/* width: 85%; */
}
/* left side start */
.left-side {
	float: left;
	width: 30%;
	height: 100%;
	border-right: 1px solid gray;
	position: fixed;
	background: grey;
}
.profile {
	margin: 20px 10px;
	padding: 20% 10px;
}
.profile img {
	float: left;
	width: 50%;
	padding: 5px;
}
.profile p {
	float: right;
	width: 50%;
	padding: 5px;
}
.profile-menu {
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px dotted grey;
}
/* left side end */
/* right side start */
.right-side {
	margin-right: 15px;
	float: right;
	width: 65%;
}
/* right side end */
/* AJAX page styles */
.ajax-content h1 {
	text-align: center;
}

/* FRIENDS PAGE STYLES */
.friend-card {
	border: 1px solid grey;
	text-align: center;
	display: block;
	margin: 0 auto;
	background: green;
}
.friend-values {
	padding: 0 10px;
}
form {
	margin: 0 30px;
}
.myName {
	font-size: 1.5em;
}
.modal {
	margin: 30px;
}
.modal p, h1 {
	padding: 20px;
}


/* small screens */
@media (max-width: 780px) {
	.left-side {
		display: block;
	}
	.right-side {
		display: block;
	}	
}
