.content {
	height: 100%;
}
img {
	transform: rotate(240deg);
}
.list-group-item:first-child {
	margin-top: 10%;
}
.list-group-item:hover {
	cursor: pointer;
}
/* left side start */
.profile {
	margin-bottom: 30%;
	padding: 20% 10px;
}
.profile img {
	float: left;
	width: 50%;
	padding: 5px;
}
.profile p {
	float: right;
	width: 50%;
	padding: 5px;
}
.profile-menu {
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px dotted grey;
}
/* left side end */
/* right side start */



/* right side end */
/* AJAX page styles */
.ajax-content h1 {
	text-align: center;
}

/* FRIENDS PAGE STYLES */
.friend-card {
	border: 1px solid grey;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: white;
	background: #2E618D;
}
.friend-values {
	padding: 0 10px;
}
form {
	margin: 0 30px;
}
.myName {
	font-size: 1.5em;
}
.modal {
	margin: 30px;
}
.modal p, h1 {
	padding: 20px;
}
.me-image {
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
}

/* pulse color of ajax nav */
.active {
 animation: color_change 1.5s infinite alternate;
}
@keyframes color_change {
 from { color: #2E618D; }
 to { color: white; }
}